In [59]:
import pandas as pd
import numpy as np
import regex as re

# Pandas VII - 25/07

In [60]:
df = pd.read_csv("Data/relacion_años_pair5.csv")
df.drop('Unnamed: 0',axis=1,inplace=True)
df.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,2016
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,2016
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,2016

In [61]:
df2 = pd.read_csv('Data/relacion_empleados_puestos_pair5.csv')
df2.drop(['Unnamed: 0','unnamed:_0_x','unnamed:_0_y'],axis=1,inplace=True)
df2.head()

,turno,id_empleado,apellido,nombre,id_puesto,email,puesto,departamento,tipo_puesto
0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,NaN,60,DIAZ,PATRICIA,50-32200,patricia.diaz@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
2,B,2,DUARTE,ANTONIO,50-32200,antonio.duarte@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
3,NaN,24,VILLANUEVA,JESUS,50-32200,jesus.villanueva@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
4,NaN,98,GALLEGOS,PATRICIA,50-32200,patricia.gallegos@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo

Cread una columna nueva y una función que nos de el mes en el que se solicitó el servicio. Tened en cuenta que todas las filas tienen la misma estructura. A la hora de escribir la función debemos tener en cuenta que puede que no haya la información de mes en la columna de la fecha. En ese caso devolved un nulo (NaN).

In [62]:
df['fecha'] = pd.to_datetime(df['fecha'])

In [63]:
def mes(fecha):
    """
   Esta función genera el nombre del mes en español a partir de una fecha.
  Args: 
       fecha(datetime): la fecha del cual sacaremos su mes.
   Returns:  esta función devuelve el mes de la fecha dada en español.
   """
    diccionario = {
    "January": "Enero",
    "February": "Febrero",
    "March": "Marzo",
    "April": "Abril",
    "May": "Mayo",
    "June": "Junio",
    "July": "Julio",
    "August": "Agosto",
    "September": "Septiembre",
    "October": "Octubre",
    "November": "Noviembre",
    "December": "Diciembre"}
    try:
        mes_ingles = fecha.strftime("%B")
        mes_español = diccionario.get(mes_ingles)
        return mes_español
    except:
        return np.nan

In [65]:
df_copia = df.copy()
df_copia["mes"] = df_copia["fecha"].apply(mes)
df_copia

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año,mes
0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016,Julio
1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016,Mayo
2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,2016,Junio
3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,2016,Abril
4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,2016,Junio
...,...,...,...,...,...,...,...,...,...,...,...,...
97493,TWRTSR-8543883120,2020-02-22,1142.0,1.0,Sistema,Solicitud,3 - Mayor,1 - Baja,11.0,5.0,2020,Febrero
97494,TWRTSR-8744097039,2020-09-23,223.0,40.0,Sistema,Solicitud,1 - Menor,1 - Baja,7.0,4.0,2020,Septiembre
97495,TWRTSR-9643846768,2020-01-16,256.0,7.0,Sistema,Solicitud,3 - Mayor,1 - Baja,13.0,5.0,2020,Enero
97496,TWRTSR-9944138906,2020-11-03,1060.0,9.0,Sistema,Solicitud,1 - Menor,1 - Baja,9.0,5.0,2020,Noviembre
97497,TWRTST-8643986162,2020-06-04,1876.0,41.0,Sistema,Solicitud,1 - Menor,1 - Baja,6.0,4.0,2020,Junio

En la tabla de empleados, tenemos los nombres y los apellidos de los empleados, pero en columnas separadas. En los ejercicios de pair de la lección del groupby vimos que si quisieramos agrupar por los nombres, esto se nos puede complicar. Ahora nos piden que creemos una columna donde tengamos el nombre y el apellido juntos.

In [66]:
def nombre_completo(nombre,apellido):
    """
   Esta función junta dos columnas por un espacio.
  Args: 
       nombre(string): el string que pondremos en primer lugar en la unión.
       apellido(string): el string que pondremos en segundo lugar en la unión.
   Returns: esta función devuelve un solo string con los datos unidos por un espacio.
   """
    nombre_final = nombre + ' ' + apellido
    nombre_final = nombre_final.title()
    return nombre_final

In [67]:
df_copia_emp = df2.copy()
df_copia_emp ["nombre_completo"] = df_copia_emp .apply(lambda pepe: nombre_completo(pepe['nombre'], pepe['apellido']), axis = 1)
df_copia_emp .drop(['nombre','apellido'],axis=1,inplace=True)
df_copia_emp

,turno,id_empleado,id_puesto,email,puesto,departamento,tipo_puesto,nombre_completo
0,A,6,50-32200,jesus.villa@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,Jesus Villa
1,NaN,60,50-32200,patricia.diaz@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,Patricia Diaz
2,B,2,50-32200,antonio.duarte@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,Antonio Duarte
3,NaN,24,50-32200,jesus.villanueva@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,Jesus Villanueva
4,NaN,98,50-32200,patricia.gallegos@tractchun.com,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo,Patricia Gallegos
...,...,...,...,...,...,...,...,...
1995,NaN,1376,10-24111,gonzalo.piedrahita@tractchun.com,Operador de Producción,MATERIALES,Operativo,Gonzalo Piedrahita
1996,NaN,44,10-24111,gonzalo.gonzález@tractchun.com,Operador de Producción,MATERIALES,Operativo,Gonzalo González
1997,NaN,1473,10-24111,gonzalo.villa@tractchun.com,Operador de Producción,MATERIALES,Operativo,Gonzalo Villa
1998,NaN,694,25-25130,jesus.velasquez@tractchun.com,Planeador de Compras,MATERIALES,Administrativo,Jesus Velasquez
1999,NaN,1990,45-15000,acosta.juvera@tractchun.com,Supervisor General de Aseg. de Calidad,INGENIERIA DE CALIDAD,Mandos Medios,Acosta Juvera

En el pair programming desde a dirección nos pedían que agruparamos los datos en base a la columna de "categoría", puede que en aquel momento nos dieramos cuenta que había varías categorías que eran igual (en concreto "Acceso Login") pero que en algunos casos tenía unos símbolos raros (&, %, -). Es el momento de limpiar esta columna. El objetivo, reemplazar todos estos símbolos raros por "/", para conseguir homogeneizar los valores de esta columna. Para ellos deberemos crear una función.

In [68]:
df_copia["categoría"].unique()

array(['Acceso&%Login', 'Sistema', 'Software', 'Hardware', nan,
       'Acceso%&Login', 'Acceso-&Login', 'Acceso99Login', 'Acceso/Login'],
      dtype=object)

In [69]:
df_copia["categoría"].isnull().sum()

13

In [70]:
def reemplazo(texto):
    """
   Esta función reemplaza simbolos y numero por / a partir de regex.
  Args: 
       texto(string): el string donde buscaremos los símbolos y los números.
   Returns: esta función devuelve un solo string con los simbolos y numeros cambiados.
   """
    try:
        texto_nuevo = re.sub('\W+|\d+','/',texto)
        return texto_nuevo
    except:
        return np.nan

In [71]:
df_copia["categoría"] = df_copia["categoría"].apply(reemplazo)

In [72]:
df_copia["categoría"].unique()

array(['Acceso/Login', 'Sistema', 'Software', 'Hardware', nan],
      dtype=object)

In [73]:
df_copia["categoría"].isnull().sum()

13

Una vez que hayáis terminado eliminad las columnas originales conservando las nuevas.

Lo hemos hecho a lo largo del pair.

Guardad el dataframe en un csv que usaremos más adelante

In [74]:
df_copia.to_csv('Data/relacion_años_pair7.csv')

In [75]:
df_copia_emp.to_csv('Data/relacion_empleados_puestos_pair7.csv')