In [2]:
import pandas as pd

# Pandas VI - 24/07

1. En pairs anteriores hemos ido pudiendo sacar algunas conclusiones y contestando las preguntas que nos hacían las jefas. Desde la dirección se están planteando cambiar el sistema de asiganción de las solicitudes que llegan. En concreto, necesitan saber que categoría es la que recibe más tickets para poder asignar más empleados a esa categoría. Por esto nos piden que averiguemos qué categoría es la que tiene más tickets. Además nos piden que devolvamos esta consulta en un DataFrame.
📌 NOTA Ordena los resultados de mayor a menor. Esto todavía no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values(). Aquí tenéis una explicación de cómo hacerlo.

In [9]:
df = pd.read_csv("Data/relacion_años_pair5.csv")
df.head()

,Unnamed: 0,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,año
0,0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016
1,1,GDDENR-8042508060,2016-05-18,1566.0,10.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,5.0,2016
2,2,GDDESR-1342539995,2016-06-18,569.0,29.0,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3.0,5.0,2016
3,3,GDDTSR-5942488006,2016-04-28,320.0,40.0,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9.0,5.0,2016
4,4,GDLEER-0042524120,2016-06-03,1842.0,31.0,Software,Problema,2 - Normal,0 - Sin Asignar,0.0,5.0,2016

In [4]:
df2 = pd.read_csv("Data/relacion_empleados_puestos_pair5.csv")
df2.head()

,Unnamed: 0,unnamed:_0_x,turno,id_empleado,apellido,nombre,id_puesto,email,unnamed:_0_y,puesto,departamento,tipo_puesto
0,0,0,A,6,VILLA,JESUS,50-32200,jesus.villa@tractchun.com,52,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
1,1,11,NaN,60,DIAZ,PATRICIA,50-32200,patricia.diaz@tractchun.com,52,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
2,2,366,B,2,DUARTE,ANTONIO,50-32200,antonio.duarte@tractchun.com,52,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
3,3,371,NaN,24,VILLANUEVA,JESUS,50-32200,jesus.villanueva@tractchun.com,52,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo
4,4,1100,NaN,98,GALLEGOS,PATRICIA,50-32200,patricia.gallegos@tractchun.com,52,Comprador de Materiales,CONTROL DE PRODUCCION,Administrativo

In [21]:
categoria = df.groupby("categoría")["id_ticket"].count().sort_values(ascending = False)
df_categoria = pd.DataFrame(categoria).reset_index()
df_categoria

       categoría  id_ticket
0        Sistema      38997
1       Software      19566
2       Hardware       9731
3   Acceso/Login       8659
4  Acceso99Login       6426
5  Acceso-&Login       5672
6  Acceso%&Login       4526
7  Acceso&%Login       3907

2. Desde la dirección quieren seguir evaluando la situación planteada en el ejercicio anterior. Pero ahora quieres saber cual es la media de la satisfacción por categoría. En concreto quieren saber si independientemente de la categoría los clientes salen satisfechos, para que en caso de que no sea así poder identificar un posible problema subyacente. Por lo tanto, nos piden que calculemos la media de satisfacción por cada una de las categorías que tenemos en el dataframe.

In [20]:
satisfaccion = df.groupby("categoría")["satisfacción"].mean()
df_satisfaccion = pd.DataFrame(satisfaccion).reset_index()
df_satisfaccion

       categoría  satisfacción
0  Acceso%&Login      4.059876
1  Acceso&%Login      3.954662
2  Acceso-&Login      4.087447
3   Acceso/Login      4.172075
4  Acceso99Login      4.105198
5       Hardware      4.100925
6        Sistema      4.102303
7       Software      4.106329

3. Quieren mejorar la consulta anterior y ahora nos piden que además de la media les devolvamos la desviación estándar de la satisfacción.

In [19]:
satisfaccion2 = df.groupby("categoría")["satisfacción"].agg(["mean", "std"])
df_satisfaccion2 = pd.DataFrame(satisfaccion2).reset_index()
df_satisfaccion2

       categoría      mean       std
0  Acceso%&Login  4.059876  1.292629
1  Acceso&%Login  3.954662  1.344462
2  Acceso-&Login  4.087447  1.272903
3   Acceso/Login  4.172075  1.197885
4  Acceso99Login  4.105198  1.256943
5       Hardware  4.100925  1.262979
6        Sistema  4.102303  1.253662
7       Software  4.106329  1.254547

4. En nuestros datos, además hemos visto que no solo tenemos categorías, y que las diferencias entre ellas no son especialmente significativas. Revisando los datos de nuevo, desde dirección saben que hay dos tipos de tickets (Problema y Solicitud), basándonos en esto, ¿hay diferencias en la satisfacción basándonos en la categoría y el tipo de tickets?.

In [18]:
satisfaccion_tipo = df.groupby(["categoría", "tipo"])["satisfacción"].agg(["mean", "std"])
df_satisfaccion_tipo = pd.DataFrame(satisfaccion_tipo).reset_index()
df_satisfaccion_tipo

        categoría       tipo      mean       std
0   Acceso%&Login   Problema  3.992799  1.339605
1   Acceso%&Login  Solicitud  4.081698  1.276415
2   Acceso&%Login   Problema  3.987052  1.355478
3   Acceso&%Login  Solicitud  3.943448  1.340680
4   Acceso-&Login   Problema  4.045079  1.286510
5   Acceso-&Login  Solicitud  4.100438  1.268568
6    Acceso/Login   Problema  4.228160  1.169298
7    Acceso/Login  Solicitud  4.153527  1.206705
8   Acceso99Login   Problema  4.090354  1.249710
9   Acceso99Login  Solicitud  4.110276  1.259497
10       Hardware   Problema  4.089293  1.277394
11       Hardware  Solicitud  4.104656  1.258385
12        Sistema   Problema  4.098409  1.258902
13        Sistema  Solicitud  4.103600  1.251930
14       Software   Problema  4.111156  1.247036
15       Software  Solicitud  4.104709  1.257149

5. A pesar de que sabemos que tenemos muchos empleados y varios departamentos, nuestras jefas no saben cuántas personas hay en cada uno de estos departamentos. Por esto, nos piden que calculemos el número de empleados que tenemos por departamento. Devolved estos resultados en un dataframe. Ordenadad los resultados de mayor a menor basándonos en la cantidad de empleados que tenemos.

In [22]:
empleados = df2.groupby("departamento")["id_empleado"].count().sort_values(ascending = False)
df_empleados = pd.DataFrame(empleados).reset_index()
df_empleados

                                   departamento  id_empleado
0                                    PRODUCCION          475
1                         INGENIERIA DE CALIDAD          395
2                                 MANTENIMIENTO          258
3                     INGENIERIA DE MANUFACTURA          228
4                   SISTEMAS, TRAFICO Y ADUANAS          160
5                         CONTROL DE PRODUCCION          127
6                                    MATERIALES          125
7                              Recursos Humanos          117
8   AUDITORIA INTERNA, CALIBRACION Y METROLOGIA           70
9                                  CONTABILIDAD           25
10                                     PERSONAL           20

6. BONUS Quieren saber que departamentos son los que tienen de media un indice de satisfacción. 💡Pista Para responder a esta pregunta tendremos que unir los dataframes con métodos aprendidos en lecciones anteriores de Pandas.

In [23]:
union = df.merge(df2, on = "id_empleado")
union

,Unnamed: 0_x,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,...,unnamed:_0_x,turno,apellido,nombre,id_puesto,email,unnamed:_0_y,puesto,departamento,tipo_puesto
0,0,GDDENR-5042564453,2016-07-13,1735.0,4.0,Acceso&%Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0.0,...,313,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,6,Almacenista,MATERIALES,Administrativo
1,3240,GWLESR-6142530250,2016-06-09,1735.0,32.0,Sistema,Problema,2 - Normal,1 - Baja,11.0,...,313,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,6,Almacenista,MATERIALES,Administrativo
2,4858,KDLTSR-9842504751,2016-05-14,1735.0,27.0,Sistema,Solicitud,2 - Normal,0 - Sin Asignar,8.0,...,313,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,6,Almacenista,MATERIALES,Administrativo
3,7035,KMLTSR-6042483650,2016-04-23,1735.0,26.0,Sistema,Solicitud,2 - Normal,2 - Media,10.0,...,313,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,6,Almacenista,MATERIALES,Administrativo
4,13644,GDLTNR-0043045356,2017-11-06,1735.0,23.0,Acceso%&Login,Solicitud,2 - Normal,0 - Sin Asignar,0.0,...,313,NaN,PORCHAS,OCHOA,10-32110,ochoa.porchas@tractchun.com,6,Almacenista,MATERIALES,Administrativo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97491,87393,SHLESR-1843887006,2020-02-26,1600.0,50.0,Sistema,Problema,2 - Normal,3 - Alta,8.0,...,1743,NaN,ANGUIS,ALONSO,15-24100,alonso.anguis@tractchun.com,12,Supervisor de Producción,PRODUCCION,Mandos Medios
97492,87695,SHLTER-3343967301,2020-05-16,1600.0,33.0,Software,Solicitud,2 - Normal,3 - Alta,3.0,...,1743,NaN,ANGUIS,ALONSO,15-24100,alonso.anguis@tractchun.com,12,Supervisor de Producción,PRODUCCION,Mandos Medios
97493,93970,THLTER-4443871706,2020-02-10,1600.0,37.0,Software,Solicitud,2 - Normal,3 - Alta,4.0,...,1743,NaN,ANGUIS,ALONSO,15-24100,alonso.anguis@tractchun.com,12,Supervisor de Producción,PRODUCCION,Mandos Medios
97494,94380,THLTNR-3043865404,2020-02-04,1600.0,14.0,Acceso/Login,Solicitud,2 - Normal,3 - Alta,0.0,...,1743,NaN,ANGUIS,ALONSO,15-24100,alonso.anguis@tractchun.com,12,Supervisor de Producción,PRODUCCION,Mandos Medios
97495,95137,THLTSR-9443961803,2020-05-10,1600.0,28.0,Sistema,Solicitud,2 - Normal,3 - Alta,6.0,...,1743,NaN,ANGUIS,ALONSO,15-24100,alonso.anguis@tractchun.com,12,Supervisor de Producción,PRODUCCION,Mandos Medios

In [24]:
departamento = union.groupby("departamento")["satisfacción"].mean()
df_departamento = pd.DataFrame(departamento).reset_index()
df_departamento

                                   departamento  satisfacción
0   AUDITORIA INTERNA, CALIBRACION Y METROLOGIA      4.075758
1                                  CONTABILIDAD      4.051587
2                         CONTROL DE PRODUCCION      4.085525
3                         INGENIERIA DE CALIDAD      4.109153
4                     INGENIERIA DE MANUFACTURA      4.095234
5                                 MANTENIMIENTO      4.087153
6                                    MATERIALES      4.125700
7                                      PERSONAL      4.097264
8                                    PRODUCCION      4.101763
9                              Recursos Humanos      4.121715
10                  SISTEMAS, TRAFICO Y ADUANAS      4.102721

7. BONUS Por último, quieres conocer los 5 empleados que tienen mayor valor en la satisfacción y los 5 empleados que tienen un menor valor de satisfacción. Todo esto respecto a la media. En este caso, conseguiremos una dataframe, donde tengamos el el id del empleado y su satisfacción, pero no sabemos su nombre y appelidos. ¿Se os ocurre como conseguir la información del nombre del empleado?

In [27]:
empleados2 = union.groupby(["id_empleado", "nombre", "apellido"])["satisfacción"].mean()
df_empleados2 = pd.DataFrame(empleados2).reset_index()
df_empleados2.head()

   id_empleado     nombre  apellido  satisfacción
0          1.0    Yulieth  Chaverra      3.951220
1          2.0    ANTONIO    DUARTE      4.224490
2          3.0       ROSA    ROMERO      4.106383
3          4.0  Margarita  Valencia      4.090909
4          5.0      JESUS    ACOSTA      4.000000